// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #222222;
$lightgray-800: #444444;

// Override Bootstrap color system

$yellow: #fdd85d;

// Override Bootstrap default state colors

$primary: $yellow;
